<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>列表的位移过渡</title>
    <script src="../vue.js" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
</head>
<style media="screen">
    .cell-move {
        transition: transform 1s;
    }
    .box-move {
        transition: transform 1s;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 238px;
        margin-top: 10px;
    }

    .cell {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25px;
        height: 25px;
        border: 1px solid #aaa;
        margin-right: -1px;
        margin-bottom: -1px;
    }
</style>

<body>
    <div class="demo" id="flip-list-demo">
        <button type="button" name="button" @click="shuffle">数独change</button>
        <transition-group name="cell" tag="div" class="container">
            <div class="cell" v-for="item in items" :style="bg[item.id]" v-bind:key="item.id">
                {{ item.value }}
            </div>
        </transition-group>
        <transition-group name="box" tag="div" class="container">
            <div class="cell" v-for="item in _.shuffle(items)" :style="bg[item.id]" v-bind:key="item.id">
                {{ item.value }}
            </div>
        </transition-group>
    </div>

</body>
<script type="text/javascript">
    var vm = new Vue({
        el:"#flip-list-demo",
        data:{
            items: Array.apply(null,{length:81}).map(function($,index) {
                return {
                    id:index,
                    value:index%9+1
                }
            })
        },
        methods:{
            shuffle:function () {
                this.items = _.shuffle(this.items);
            }
        },
        computed:{
            bg() {
                function rgb() {
                    return _.round(Math.random()*255)
                }
                let res = Array.apply(null,{length:81}).map(function($,index){
                    return {
                        backgroundColor:'rgba('+rgb()+','+rgb()+','+rgb()+',0.5)',
                        color:'rgb('+rgb()+','+rgb()+','+rgb()+')'
                    }
                })
                console.log(res);
                return res
            },
            backgc() {
                function rgb() {
                    return _.round(Math.random()*255)
                }
                return 'rgba('+rgb()+','+rgb()+','+rgb()+',0.5)'
            }
        }
    })
    // setInterval(vm.shuffle,1000);
</script>

</html>
